<!-- Javascript -->
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- custom js -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>

<!-- dwlee add js -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.flexslider.js"></script>
 
<script type="text/javascript">
      $(document).ready(function(){
            $('._flexslider_1').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 1");
                  }
            });

            $('._flexslider_2').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 2");
                  }
            });

            $('._flexslider_3').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 3");
                  }
            });

            $('._flexslider_4').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 4");
                  }
            });

            $('._flexslider_5').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 5");
                  }
            });

            $('._flexslider_6').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 6");
                  }
            });

            $('._flexslider_7').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 7");
                  }
            });

            $('._flexslider_8').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 8");
                  }
            });

            $('._flexslider_9').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 9");
                  }
            });

            $('._flexslider_10').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 10");
                  }
            });

            $('._flexslider_11').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 11");
                  }
            });

            $('._flexslider_12').flexslider({
                  animation: "fade",
	     slideshow: false,
                  controlNav: true,
                  start : function(slider){
                      console.log("test 12");
                  }
            });
      });
</script> 

{% if site.analytics %}
  {% include analytics.html %}
{% endif %}
